#about {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 30vw;
    border-radius: 9px;
    margin: 2rem;
}

.about-content {
    width: 40vw;

}

.about-content p {
    font-size: 1.2rem;
    padding: 0.1rem;
    margin: 2rem;
}

.about-content a {
    color: #FF202B;
}

/* Responsive Design for Mobile and Tablet Devices */




@media screen and (max-width: 992px) {
    .about-image img {
        width: 40vw;
    }

    .about-content {
        width: 50vw;
    }

}


@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        height: 120vh;
    }

    .about-image img {
        width: 50vw;
        
    }

    .about-content {
        width: 70vw;
        text-align: center;
    }
}
